<!DOCTYPE html>

<html>
    <head>
        <title>Stage</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    </head>

<h1>Connexion</h1>

<p><%= msg %></p>
<% msg = ''; %>

<% if (user.ID > 0) { %>
<form action="/traitementDeconnexion" method="get">
    <p>
        <input type="submit" value="Deconnexion"/>
    </p>
</form>

<% } else { %>
<form action="/traitementConnexion" method="post">
    <p>
        <label for="pseudo">Pseudo</label>
        <input type="text" name="pseudo" id="pseudo" autofocus /><br />

        <label for="mdp">Mot de passe</label>
        <input type="password" name="mdp" id="mdp" /><br />

        <input type="submit" value="Connexion"/>
    </p>
</form>

<% } %>


    </body>
</html>