<!DOCTYPE html>

<html>
    <head>
        <title>Stage</title>
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="#" onclick="menu(this)" id="lien_balance">Balance</a></li>
                <li><a href="#" onclick="menu(this)" id="lien_powermeter">Powermeter</a></li>
                <li><a href="#" onclick="menu(this)" id="lien_RAM">RAM</a></li>
                <li><a href="#" onclick="menu(this)" id="lien_tables_cmds">Utilisateurs</a></li>
                <li><a href="#" onclick="menu(this)" id="lien_tables_alarmes">Alarmes</a></li>
                <li><a href="#" onclick="menu(this)" id="lien_tables_journal">Journal</a></li>
                <li><a href="#" onclick="menu(this)" id="lien_deconnexion">Ḑeconnexion</a></li>
            </ul>
        </nav>
        <p id="message"> <%= msg %></p>
        <% msg = ''; %>