<%- include('header') -%>

        <% if (user.ID > 0) { %>

        <div class="main" id="deconnexion">
            <form action="/traitementDeconnexion" method="get">
                <p>
                    <input type="submit" value="Deconnexion"/>
                </p>
            </form>
        </div>
        

        <div class="main" id="balance">
            <h2>Balance</h2>
            <div class="left">
              <div class="contenaire">
                <canvas id="mon_canvas" width="500" height="405">
                    Message pour les navigateurs ne supportant pas encore canvas.
                </canvas>
                <input id="MotA" type="submit" value="" />
                <input id="MotB" type="submit" value="" />
                <input id="MotC" type="submit" value="" />
                <input id="AUTOBalance" <% if (etat_melangeur[0].Mode == 0) { %> class="active" <% } %> type="submit" value="AUTO" />
                <input id="MANBalance" <% if (etat_melangeur[0].Mode == 1) { %> class="active" <% } %> type="submit" value="MAN" />
              </div>
            </div>

            <div class="right">
              <table>
                 <caption>Etat balance</caption>

                 <thead> <!-- En-tête du tableau -->
                     <tr>
                         <th>poids</th>
                         <th>tare</th>
                         <th>type</th>
                     </tr>
                 </thead>

                 <tbody> <!-- Corps du tableau -->
                     <tr>
                         <td id="tables_etat_balance_poids"><%= etat_balance[0].poids %></td>
                         <td id="tables_etat_balance_tare"><%= etat_balance[0].tare %></td>
                         <td id="tables_etat_balance_type"><%= etat_balance[0].type %></td>
                     </tr>
                 </tbody>
              </table><br/>

              <table>
                 <caption>Etat Melangeur</caption>

                 <thead> <!-- En-tête du tableau -->
                     <tr>
                         <th>MotA</th>
                         <th>MotB</th>
                         <th>MotC</th>
                         <th>Mode</th>
                     </tr>
                 </thead>

                 <tbody> <!-- Corps du tableau -->
                     <tr>
                         <td id="tables_etat_melangeur_MotA"><%= etat_melangeur[0].MotA %></td>
                         <td id="tables_etat_melangeur_MotB"><%= etat_melangeur[0].MotB %></td>
                         <td id="tables_etat_melangeur_MotC"><%= etat_melangeur[0].MotC %></td>
                         <td id="tables_etat_melangeur_Mode"><%= etat_melangeur[0].Mode %></td>
                     </tr>
                 </tbody>
              </table><br />

              <table id="tables_cmd_melangeur">
               <caption>Commande mélangeur</caption>

               <thead> <!-- En-tête du tableau -->
                   <tr>
                       <th>cmd_id</th>
                       <th>log_id</th>
                       <th>cmd</th>
                       <th>p1</th>
                       <th>p2</th>
                       <th>p3</th>
                   </tr>
               </thead>

               <tbody> <!-- Corps du tableau -->
               <% for (var i = 0; i < cmd_melangeur.length; i++) { %>
                   <tr id="tables_cmd_melangeur_cmd_id_<%=cmd_melangeur[i].cmd_id%>">
                       <td><%= cmd_melangeur[i].cmd_id %></td>
                       <td><%= cmd_melangeur[i].log_id %></td>
                       <td><%= cmd_melangeur[i].cmd %></td>
                       <td><%= cmd_melangeur[i].p1 %></td>
                       <td><%= cmd_melangeur[i].p2 %></td>
                       <td><%= cmd_melangeur[i].p3 %></td>
                   </tr>
               <% } %>
               </tbody>
            </table>

            <form onsubmit="return false">
                <p>
                    Ajouter une nouvelle commande mélangeur<br />
                    <label for="cmd_melangeur_cmd">cmd</label>
                    <input type="text" name="cmd_melangeur_cmd" id="cmd_melangeur_cmd"/>

                    <label for="cmd_melangeur_p1">P1</label>
                    <input type="text" name="cmd_melangeur_p1" id="cmd_melangeur_p1" /><br />

                    <label for="cmd_melangeur_p2">P2</label>
                    <input type="text" name="cmd_melangeur_p2" id="cmd_melangeur_p2" />

                    <label for="cmd_melangeur_p3">P3</label>
                    <input type="text" name="cmd_melangeur_p3" id="cmd_melangeur_p3" />

                    <input id="nouvelle_cmd_melangeur" type="submit" value="Ajouter"/>
                </p>
            </form>
            </div>
          </div>
            
          <div class="main" id="powermeter">
            <h2>Poweermeter</h2>
            <div class="left">
              <canvas id="mon_canvas_powermeter" width="500" height="405">
                  Message pour les navigateurs ne supportant pas encore canvas.
              </canvas>
            </div>

            <div class="right">
              <table>
                 <caption>Etat Powermeter</caption>

                 <thead> <!-- En-tête du tableau -->
                     <tr>
                         <th>Van</th>
                         <th>Vbn</th>
                         <th>Vab</th>
                         <th>Ia</th>
                         <th>Ib</th>
                         <th>KW</th>
                         <th>KWh</th>
                         <th>FP</th>
                     </tr>
                 </thead>

                 <tbody> <!-- Corps du tableau -->
                     <tr>
                         <td id="tables_etat_powermeter_Van"><%= etat_powermeter[0].Vbn %></td>
                         <td id="tables_etat_powermeter_Vbn"><%= etat_powermeter[0].Van %></td>
                         <td id="tables_etat_powermeter_Vab"><%= etat_powermeter[0].Vab %></td>
                         <td id="tables_etat_powermeter_Ia"><%= etat_powermeter[0].Ia %></td>
                         <td id="tables_etat_powermeter_Ib"><%= etat_powermeter[0].Ib %></td>
                         <td id="tables_etat_powermeter_KW"><%= etat_powermeter[0].KW %></td>
                         <td id="tables_etat_powermeter_KWh"><%= etat_powermeter[0].KWh %></td>
                         <td id="tables_etat_powermeter_FP"><%= etat_powermeter[0].FP %></td>
                     </tr>
                 </tbody>
              </table>
            </div>
          </div>

          <div class="main" id="RAM">
            <h2>RAM</h2>
            <div class="left_RAM">
              <div class="contenaire">
                <canvas id="mon_canvas_RAM" width="600" height="505">
                    Message pour les navigateurs ne supportant pas encore canvas.
                </canvas>
                <input id="consNivPB" type="range" orient="vertical" min="0" max="100" value="<%= etat_ram[0].ConsNivPB %>" step="1" oninput="amount.value=rangeInput.value"/>
                <input id="consTmpPB" type="range" orient="vertical" min="0" max="100" value="<%= etat_ram[0].ConsTmpPB %>" step="1" oninput="amount.value=rangeInput.value" />
                <input id="consNivGB" type="range" orient="vertical" min="0" max="100" value="<%= etat_ram[0].ConsNivGB %>" step="1" oninput="amount.value=rangeInput.value"/>
                
                <input id="valveEntreeEauChaude" type="submit" value="" />
                <input id="valveEntreeEauFroide" type="submit" value="" />
                <input id="pompe" type="submit" value="" />
                <input id="valveGBButton" type="submit" value="" />
                <input id="valveGB" type="range" min="0" max="100" value="<%= etat_ram[0].ValveGB %>" step="1" oninput="amount.value=rangeInput.value"/>
                <input id="valvePBButton" type="submit" value="" />
                <input id="valvePB" type="range" min="0" max="100" value="<%= etat_ram[0].ValvePB %>" step="1" oninput="amount.value=rangeInput.value"/>

                <input id="valveEauChaudeButton" type="submit" value="" />
                <input id="valveEauChaude" type="range" min="0" max="100" value="<%= etat_ram[0].ValveEauChaude %>" step="1" oninput="amount.value=rangeInput.value"/>
                <input id="valveEauFroideButton" type="submit" value="" />
                <input id="valveEauFroide" type="range" min="0" max="100" value="<%= etat_ram[0].ValveEauFroide %>" step="1" oninput="amount.value=rangeInput.value"/>

                <input id="AUTO" <% if (etat_ram[0].Mode == 0) { %> class="active" <% } %> type="submit" value="AUTO" />
                <input id="MAN" <% if (etat_ram[0].Mode == 1) { %> class="active" <% } %> type="submit" value="MAN" />
              </div>
            </div>

            <div class="right_RAM">

              <table>
                 <caption>Etat RAM</caption>

                 <thead> <!-- En-tête du tableau -->
                     <tr>
                         <th>ConsNivGB</th>
                         <th>ConsNivPB</th>
                         <th>ConsTmpPB</th>
                         <th>NivGB</th>
                         <th>NivPB</th>
                         <th>TmpGB</th>
                         <th>TmpPB</th>
                         <th>ValveGB</th>
                         <th>ValvePB</th>
                     </tr>
                 </thead>

                 <tbody> <!-- Corps du tableau -->
                     <tr>
                         <td id="tables_etat_ram_ConsNivGB"><%= etat_ram[0].ConsNivGB %></td>
                         <td id="tables_etat_ram_ConsNivPB"><%= etat_ram[0].ConsNivPB %></td>
                         <td id="tables_etat_ram_ConsTmpPB"><%= etat_ram[0].ConsTmpPB %></td>
                         <td id="tables_etat_ram_NivGB"><%= etat_ram[0].NivGB %></td>
                         <td id="tables_etat_ram_NivPB"><%= etat_ram[0].NivPB %></td>
                         <td id="tables_etat_ram_TmpGB"><%= etat_ram[0].TmpGB %></td>
                         <td id="tables_etat_ram_TmpPB"><%= etat_ram[0].TmpPB %></td>
                         <td id="tables_etat_ram_ValveGB"><%= etat_ram[0].ValveGB %></td>
                         <td id="tables_etat_ram_ValvePB"><%= etat_ram[0].ValvePB %></td>
                     </tr>
                 </tbody>
              </table><br />

              <table>
                  <caption>Etat RAM</caption>
                  <thead> <!-- En-tête du tableau -->
                     <tr>
                         <th>ValveEauChaude</th>
                         <th>ValveEauFroide</th>
                         <th>Pompe</th>
                         <th>ValveEntreeEauChaude</th>
                         <th>ValveEntreeEauFroide</th>
                         <th>Mode</th>
                     </tr>
                 </thead>

                 <tbody> <!-- Corps du tableau -->
                     <tr>
                         <td id="tables_etat_ram_ValveEauChaude"><%= etat_ram[0].ValveEauChaude %></td>
                         <td id="tables_etat_ram_ValveEauFroide"><%= etat_ram[0].ValveEauFroide %></td>
                         <td id="tables_etat_ram_Pompe"><%= etat_ram[0].Pompe %></td>
                         <td id="tables_etat_ram_ValveEntreeEauChaude"><%= etat_ram[0].ValveEntreeEauChaude %></td>
                         <td id="tables_etat_ram_ValveEntreeEauFroide"><%= etat_ram[0].ValveEntreeEauFroide %></td>
                         <td id="tables_etat_ram_Mode"><%= etat_ram[0].Mode %></td>
                     </tr>
                 </tbody>
              </table><br />
              <table id="tables_cmd_ram">
               <caption>Commande RAM</caption>

               <thead> <!-- En-tête du tableau -->
                   <tr>
                       <th>cmd_id</th>
                       <th>log_id</th>
                       <th>cmd</th>
                       <th>p1</th>
                       <th>p2</th>
                   </tr>
               </thead>

               <tbody> <!-- Corps du tableau -->
               <% for (var i = 0; i < cmd_ram.length; i++) { %>
               
                   <tr >
                       <td><%= cmd_ram[i].cmd_id %></td>
                       <td><%= cmd_ram[i].log_id %></td>
                       <td><%= cmd_ram[i].cmd %></td>
                       <td><%= cmd_ram[i].p1 %></td>
                       <td><%= cmd_ram[i].p2 %></td>
                   </tr>

               <% } %>
               </tbody>
            </table>

            <form onsubmit="return false">
                <p>
                    Ajouter une nouvelle commande RAM<br />
                    <label for="cmd_ram_cmd">cmd</label>
                    <input type="text" name="cmd_ram_cmd" id="cmd_ram_cmd"/>

                    <label for="cmd_ram_p1">P1</label>
                    <input type="text" name="cmd_ram_p1" id="cmd_ram_p1" />

                    <label for="cmd_ram_p2">P2</label>
                    <input type="text" name="cmd_ram_p2" id="cmd_ram_p2" />

                    <input id="nouvelle_cmd_ram" type="submit" value="Ajouter"/>
                </p>
            </form>
            </div>
          </div>

        <div class="main" id="tables_alarmes">
            <h2>Alarmes</h2>
            <table class="tables_set_alarmes">
               <caption>Set Alarmes</caption>

               <thead> <!-- En-tête du tableau -->
                   <tr>
                       <th>NivLhGB</th>
                       <th>NivLhPB</th>
                       <th>TgTempPB</th>
                       <th>TrTempPB</th>
                       <th>TempLhPB</th>
                       <th>TempLbPB</th>
                   </tr>
               </thead>

               <tbody> <!-- Corps du tableau -->
                   <tr>
                        <td id="tables_set_alarmes_NivLhGB">
                            <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].NivLhGB %>" type="number" />
                        </td>
                        <td id="tables_set_alarmes_NivLhPB">
                            <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].NivLhPB %>" type="number" />
                        </td>
                        <td id="tables_set_alarmes_TgTempPB">
                            <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].TgTempPB %>" type="number" />
                        </td>
                        <td id="tables_set_alarmes_TrTempPB">
                            <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].TrTempPB %>" type="number" />
                        </td>
                        <td id="tables_set_alarmes_TempLhPB">
                             <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].TempLhPB %>" type="number" />
                        </td>
                        <td id="tables_set_alarmes_TempLbPB">
                            <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].TempLbPB %>" type="number" />
                        </td>
                    </tr>
                </tbody>
            </table><br />

            <table class="tables_set_alarmes">
               <caption>Set Alarmes</caption>

               <thead> <!-- En-tête du tableau -->
                   <tr>
                       <th>NivLbGB</th>
                       <th>TgNivGB</th>
                       <th>TrNivGB</th>
                       <th>NivLbPB</th>
                       <th>TgNivPB</th>
                       <th>TrNivPB</th>
                   </tr>
               </thead>

               <tbody> <!-- Corps du tableau -->
                   <tr>
                        <td id="tables_set_alarmes_NivLbGB">
                            <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].NivLbGB %>" type="number" />
                        </td>
                        <td id="tables_set_alarmes_TgNivGB">
                            <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].TgNivGB %>" type="number" />
                        </td>
                        <td id="tables_set_alarmes_TrNivGB">
                            <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].TrNivGB %>" type="number" />
                        </td>
                        <td id="tables_set_alarmes_NivLbPB">
                            <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].NivLbPB %>" type="number" />
                        </td>
                            <td id="tables_set_alarmes_TgNivPB">
                        <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].TgNivPB %>" type="number" />
                        </td>
                        <td id="tables_set_alarmes_TrNivPB">
                            <input onchange="changeSetAlarmes(this)" value="<%= set_alarmes[0].TrNivPB %>" type="number" />
                        </td>
                   </tr>
               </tbody>
            </table><br />

            <table id="tables_alarmes">
               <caption>Alarmes</caption>

               <thead> <!-- En-tête du tableau -->
                    <tr>
                       <th>AlarmeID</th>
                       <th>Type</th>
                       <th>Val</th>
                       <th>DateTime</th>
                    </tr>
                </thead>

               
                <tbody> <!-- Corps du tableau -->
                <% for (var i = 0; i < alarmes.length; i++) { %>
                   <tr id="tables_alarmes_AlarmeID_<%=alarmes[i].AlarmeID%>">
                       <td><%= alarmes[i].AlarmeID %></td>
                       <td><%= alarmes[i].Type %></td>
                       <td><%= alarmes[i].Val %></td>
                       <td><%= alarmes[i].DateTime %></td>
                   </tr>
                <% } %>
               </tbody>

            </table>
        </div>

        <div class="main" id="tables_journal">
        <h2>Journal</h2>

            <table id="tables_journal">
               <caption>Journal</caption>

               <thead> <!-- En-tête du tableau -->
                    <tr>
                       <th>LogID</th>
                       <th>Type</th>
                       <th>UserID</th>
                       <th>ReqTime</th>
                       <th>DoneTime</th>
                       <th>Info</th>
                    </tr>
                </thead>

               
                <tbody> <!-- Corps du tableau -->
                <% for (var i = 0; i < journal.length; i++) { %>
                   <tr id="tables_journal_LogID_<%=journal[i].LogID%>">
                       <td><%= journal[i].LogID %></td>
                       <td><%= journal[i].Type %></td>
                       <td><%= journal[i].UserID %></td>
                       <td><%= journal[i].ReqTime %></td>
                       <td id="tables_journal_<%=journal[i].LogID%>_DoneTime"><%= journal[i].DoneTime %></td>
                       <td id="tables_journal_<%=journal[i].LogID%>_Info"><%= journal[i].Info %></td>
                   </tr>
                <% } %>
               </tbody>

            </table>
        </div>

        <% } else { %> <!-- L'utilisateur n'est pas co-->
        <p>Ex : admin admin</p>
        <form action="/traitementConnexion" method="post">
            <p>
                <label for="pseudo">Pseudo</label>
                <input type="text" name="pseudo" id="pseudo" /><br />

                <label for="mdp">Mot de passe</label>
                <input type="password" name="mdp" id="mdp" /><br />

                <input type="submit" value="Connexion"/>
            </p>
        </form>	

    <% } %>

    <%- include('footer') -%>


