body {
	background-color: #ececec;
	text-align: center;
}

/* MENU */

nav {
	background-color: #d152ba;
	margin-bottom: 30px;
}

nav ul li {
	display: inline-block;
	padding: 10px 20px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

/* TABLEAUX */
table {
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  border-collapse: collapse;
}

table caption {
	background-color: #d152ba;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: #fff;
	font-weight: bold;
	padding: 5px;
}

table td, table th {
	border: 1px solid black;
	padding: 5px;
}

table tr td:last-child, table th:last-child {
	border-right:none;
}

table tr td:first-child, table th:first-child {
	border-left:none;
}

table th {
	border-top:none;
}

table tr:last-child td {
	border-bottom:none;
}

#messagge {
	background-color: red;
}

canvas {
	background-color: #fff;
	border-radius: 6px;		
}



div.left {
	float : left;
	margin-left: 200px;
}

div.left_RAM {
	float : left;
	margin-left: 100px;
}

div.right {
	float: right;
	display: inline-block;
	margin-top: 0px;
	margin-right: 300px;

}

div.right_RAM {
	float: right;
	display: inline-block;
	margin-top: 50px;
	margin-right: 50px;
}

div.contenaire {
	position: relative;
}

/* CONTROLES RAM */
input[type=range][orient=vertical]
{
	position: absolute;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 220px;
    padding: 0 5px;
}

input#consNivPB {
	left: 530px;
	top: 230px;
}

input#consNivGB {
	left: 330px;
	top: 180px;
	height: 270px;
}

input#consTmpPB {
	left: 570px;
	top: 230px;
}

input#valveEntreeEauChaude {
	position: absolute;
	left: 190px;
	top: 27px;
	border: 1px dashed black;
	background-color: transparent;
	width: 35px;
	height: 25px;
	cursor: pointer;
	outline: 0;
}

input#valveEntreeEauFroide {
	position: absolute;
	left: 190px;
	top: 1px;
	border: 1px dashed black;
	background-color: transparent;
	width: 35px;
	height: 25px;
	cursor: pointer;
}

input#pompe {
	position: absolute;
	left: 32px;
	top: 257px;
	border: 1px dashed black;
	background-color: transparent;
	width: 85px;
	height: 85px;
	cursor: pointer;
}

input#valveGBButton {
	position: absolute;
	left: 222px;
	top: 132px;
	border: 1px dashed black;
	background-color: transparent;
	width: 36px;
	height: 36px;
	cursor: pointer;
}

input#valveGB {
	position: absolute;
	left: 135px;
	top: 165px;
	visibility: hidden;
}

input#valveGBButton:hover + input#valveGB,  input#valveGB:hover{
	visibility: visible;
	background-color: rgba(0,168,255, 0.5);
}

input#valvePBButton {
	position: absolute;
	left: 402px;
	top: 132px;
	border: 1px dashed black;
	background-color: transparent;
	width: 36px;
	height: 36px;
	cursor: pointer;
}

input#valvePB {
	position: absolute;
	left: 315px;
	top: 165px;
	visibility: hidden;
}

input#valvePBButton:hover + input#valvePB,  input#valvePB:hover{
	visibility: visible;
	background-color: rgba(0,168,255, 0.5);
}

input#valveEauChaudeButton {
	position: absolute;
	left: 442px;
	top: 132px;
	border: 1px dashed black;
	background-color: transparent;
	width: 36px;
	height: 36px;
	cursor: pointer;
}

input#valveEauChaude {
	position: absolute;
	left: 355px;
	top: 165px;
	visibility: hidden;
}

input#valveEauChaudeButton:hover + input#valveEauChaude,  input#valveEauChaude:hover{
	visibility: visible;
	background-color: rgba(255, 0, 0, 0.5);
}


input#valveEauFroideButton {
	position: absolute;
	left: 482px;
	top: 132px;
	border: 1px dashed black;
	background-color: transparent;
	width: 36px;
	height: 36px;
	cursor: pointer;
}

input#valveEauFroide {
	position: absolute;
	left: 395px;
	top: 165px;
	visibility: hidden;
}

input#valveEauFroideButton:hover + input#valveEauFroide,  input#valveEauFroide:hover{
	visibility: visible;
	background-color: rgba(0, 0, 255, 0.5);
}

input#AUTO, input#MAN {
	border-radius: 4px;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
}

input#AUTO {
	top: 20px;
	left: 515px;
}

input#MAN {
	top: 50px;
	left: 520px;
}

input#AUTO.active, input#MAN.active {
	border: 1px solid #FF00FF;
	font-weight: bold;
	padding-top: 5px;
}

/* CONTROLES BALANCES */
input#MotA {
	position: absolute;
	left: 74px;
	top: 24px;
	height: 102px;
	width: 102px;
	border-radius: 100px;
	border: none;
	box-shadow: 0px 0px 15px #888888;
	background-color: transparent;
	cursor: pointer;
}

input#MotB {
	position: absolute;
	left: 199px;
	top: 24px;
	height: 102px;
	width: 102px;
	background-color: transparent;
	cursor: pointer;
	border-radius: 100px;
	border: none;
	box-shadow: 0px 0px 15px #888888;
}

input#MotC {
	position: absolute;
	left: 324px;
	top: 24px;
	height: 102px;
	width: 102px;
	box-shadow: 0px 0px 15px #888888;
	background-color: transparent;
	cursor: pointer;
	border-radius: 100px;
	border: none;
}

input#AUTOBalance, input#MANBalance {
	border-radius: 4px;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
}

input#AUTOBalance {
	top: 20px;
	left: 435px;
}

input#MANBalance {
	top: 50px;
	left: 440px;
}

input#AUTOBalance.active, input#MANBalance.active {
	border: 1px solid #FF00FF;
	font-weight: bold;
	padding-top: 5px;
}


